.asosiy{
display: flex;
width: 100%;
flex-wrap: wrap;    
}
.logo{
    width: 660px;
}
.logotip{
    width: 40%;
    margin-left: 10%;
}
.form{
    width: 666px;
}
.asosiy_form{
    background: #C2EDF4;
    position: relative;
    z-index: 12;
    margin-top: -20px;
}
.butt1{
    width: 50%;
    height: 70px;
    background: #C2EDF4;
    border: 1px solid grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.butt2{
    width: 50%;
    height: 70px;
    background:#C2EDF4;
    border: 1px solid grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.input{
    width: 70%;
    height: 50px;
    border-radius: 45px;
    margin: auto;
    display: flex;
    border: none;

}
.pochta{
    margin-left: 70px;
    padding-top: 50px;
}
.parol{
    margin-left: 70px;
}
.povtarite_parol{
    margin-left: 70px;
}
.katta{
    width: 100%;
    margin-top: 50px;
}
/* .katta img{
    width: 100%;
} */
.rimg{
    width: 100%;
    margin-top: 50px;
    
}
.pochta label{
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}
.pochta input{
    width: 80%;
    height: 50px;
    border-radius: 45px;
    border: none;
    
}
.parol label{
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
    
}
.parol input{
    width: 80%;
    height: 50px;
    border-radius: 45px;
    border: none;
}
.povtarite_parol label{
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
    
}
.povtarite_parol input{
    width: 80%;
    height: 50px;
    border-radius: 45px;
    border: none;
}
.img{
    display: flex;
    margin: auto;
    width:200px;
    justify-content: space-around;
    padding-bottom: 100px;
}
.face{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.google{
    width: 50px;
    height: 50px;
    background-color: white; 
    border-radius: 50%;
}
.face img{
    width: 80%;
    height: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    padding-top: 5px;
}
.google img{
    width: 80%;
    height: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    padding-top: 5px;
}
.line{
    border: 1px solid #FF0064;
    width: 80%;
    margin: auto;
    
}
.chekbox{
    display: flex;
    align-items: center ;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.chekbox span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}
.radio{
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: #2C7F5B;
}
.voyti h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}  
.ustoz{
    width: 200px;
    height: 40px;
    border-radius: 45px;
    border: none;
    color: black;
    margin-top: 20px !important;
}
.oquvchi{
    width: 200px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #03975C;
    color: white;
    margin-top: 20px !important;
}
.butt{
    width: 70%;
   display: flex;
   margin: auto;
   align-items: center;
   justify-content: space-around;
   padding-bottom: 100px;
   flex-wrap: wrap;
   
}
@media(max-width:1325px){
    .katta{
        display: none;
    }
    .rimg{
        display: none;
    }
    .form{
        width: 50%;
        margin: auto;
    }
}
@media(max-width:900px){
    .form{
        width: 80%;
    }
}
@media(max-width:500px){
    .form{
        width: 90%;
    }
    .butt1 {
        font-size: 23px;
    }
    .butt2{
        font-size: 20px;
    }
    .pochta{
        font-size:20px;
        margin-left: 30px;
    }
    .pochta input{
        height: 35px;
    }
    .parol{
        font-size: 20px;
        margin-left: 30px;
    }
    .parol input{
        height: 35px;
    }
    .chekbox{
        margin-left: 30px;
        font-size: 20px;   
    }
    .povtarite_parol{
        font-size: 20px;
        margin-left: 30px;
        
    }
    .povtarite_parol input{
        height: 35px;
    }
}
.aa{
    width: 90%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 0px;
    z-index: 1000;
    background-repeat: no-repeat !important;
    background: url("https://media2.giphy.com/media/BPJmthQ3YRwD6QqcVD/giphy.gif");
    background-color: blue;
}
.aa h1{
    margin-left: 80%;
    color: white;
    margin-top: -20px;
    margin-top: 550px;
}
#progressBar{
    margin-left: 5%;
    width: 90%;
}
.bb{
    display: flex;
    text-align: center !important;
    margin-top: 12% !important;
    margin: auto;
}